/3.1.py
/3.2.py
/3.3.py
/3.4.py
/3.5.py
/3.6.py
/3.7.py
/3.8.py
/3.9.py
/4.py
/123.py
/123.spec
/data.json
/decor_func.py
/dict.csv
/file_cod.py
/file_for_cod.txt
/func2func.py
/func_func.py
/guess.py
/guessfiguer.py
/isdigit.py
/main.py
/matrix2.py
/print
/print.py
/request.xlsx
/some_dict.json
/temp_max.py
/time.py
/work_book.xlsx
/.gitignore