/.gitignore
/123.py
/123.spec
/data.json
/decor_func.py
/dict.csv
/file_cod.py
/file_for_cod.txt
/func2func.py
/func_func.py
/guess.py
/guessfiguer.py
/isdigit.py
/main.py
/matrix2.py
/print
/print.py
/request.xlsx
/some_dict.json
/temp_max.py
/time.py
/work_book.xlsx
/venv/
/dist
/.idea/
